<div class="loading" *ngIf="loading">
    <img src="../../assets/images/loader.gif"/>
</div>

<div *ngIf="image" class="image-box">
    <a [routerLink]="['/album', image.album._id]" class="btn btn-ver">Volver al album</a>
    <a [routerLink]="['/editar-imagen', image._id]" class="btn btn-editar">Editar Imagen</a>
    <a (click)="onDeleteConfirm(image._id)" class="btn btn-eliminar">Eliminar</a>    
    <div *ngIf="confirmado == image._id" class="seguro-img">
        <a (click)="onDeleteImage(image._id)" class="btn btn-eliminar">Eliminar</a>
        <a (click)="onCancelDeleteConfirm()" class="btn btn-ver">Cancelar</a>
    </div>    
    <h1>{{image.title}}</h1>
    <img class="imagen" src="{{api_url + image.picture}}"/>
</div>